<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>assignment2</display-name>
  <servlet>
		<servlet-name>startupServlet</servlet-name>
		<servlet-class>StartupServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>videoMgrServlet</servlet-name>
		<servlet-class>VideoManageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>listServlet</servlet-name>
		<servlet-class>ListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>uploadServlet</servlet-name>
		<servlet-class>UploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>registerServlet</servlet-name>
		<servlet-class>RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>playVideoServlet</servlet-name>
		<servlet-class>PlayVideoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>videoMgrServlet</servlet-name>
		<url-pattern>/videoMgr</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>listServlet</servlet-name>
		<url-pattern>/list</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>uploadServlet</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>registerServlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>playVideoServlet</servlet-name>
		<url-pattern>/playVideo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>listServlet</servlet-name>
		<url-pattern>/toprated</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>ListenerSession</listener-class>
	</listener>
	<filter>
    <filter-name>globalFilter</filter-name>
    <filter-class>
       GlobalFilter
    </filter-class>
	</filter>
	<filter-mapping>
    	<filter-name>globalFilter</filter-name>
    	<url-pattern>/*</url-pattern>
	</filter-mapping>
	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>
	<welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>